.App {
  text-align: center;
}

.App-header {
  height: 100px;
  color: #22;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 3em;
  font-family: 'Abril Fatface', cursive;
}

.App-content {
  padding: 20px;
  padding-top: 0;
  max-width: 1000px;
  margin: 0 auto;
}

.App-button {
  background: #37b58f;
  border: none;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.1em;
  box-shadow: 0 0 3px 2px #7d7d7d69;
}
